@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  
}


@layer components{
  
  .fluid-container{
    @apply w-full max-w-fluid mx-auto
  }
  
  .tag{
    @apply text-[0.75rem] bg-white/5 py-[0.7375rem] px-[0.9375rem] rounded-[2.25rem] outline outline-white/5 outline-1 outline-offset-[-1px] w-fit; 
  }

  .cardBg{
    @apply bg-white/5 outline outline-white/5 outline-1 outline-offset-[-1px] backdrop-blur-lg;
  }

  .gradientLine{
    @apply h-[1px] w-full my-[3rem] sm:my-[6rem]
  }

  .starImg{
    @apply hidden sm:block z-10 !top-[20%] max-w-[600px] 
  }



  .gradientLine {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}


.swiper-slide{
    transform: scale(0.90) !important;
    transition: 1s ease !important;
    opacity: 0.6;
}

.swiper-slide-active{
  transform: scale(1) !important;
  z-index: 10;
  opacity: 1;
}